.section-divider {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 200px;
    gap: 150px;
    border-top: 1px solid var(--secondary-text-color);
    border-bottom: 1px solid var(--secondary-text-color);
    padding: 10px 0;

    .title-section {
        display: flex;
        gap: 30px;

        p {
            color: var(--yellow-color);
        }

        h1 {
            font-size: 90px;
            font-weight: 700;
            color: var(--text-color);
        }
    }

}