.divider-container{
    width: 1200px;
    margin: 0 auto;
}
.work-section-divider{
    background-color: var(--yellow-color);
    height:0.25rem;
    border: none;
    margin-top: 100px;
    margin-bottom: 100px;
}
