.landing-container{
    // background: hsla(281, 100%, 31%, 1);
    
    //     background: linear-gradient(135deg,
    //             hsla(281, 100%, 31%, 1) 0%,
    //             hsla(280, 44%, 48%, 1) 50%,
    //             hsla(282, 100%, 11%, 1) 100%);
    
    //     background: -moz-linear-gradient(135deg,
    //             hsla(281, 100%, 31%, 1) 0%,
    //             hsla(280, 44%, 48%, 1) 50%,
    //             hsla(282, 100%, 11%, 1) 100%);
    
    //     background: -webkit-linear-gradient(135deg,
    //             hsla(281, 100%, 31%, 1) 0%,
    //             hsla(280, 44%, 48%, 1) 50%,
    //             hsla(282, 100%, 11%, 1) 100%);
    
    //     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6B009C", endColorstr="#8D44B1", GradientType=1);

        display: flex;
        flex-direction: column;

}

.hero-section{
    background-image: url(../../../dist/assets/bg-0002-free-img.jpg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;

    .hero-section-header{
        h1{
            color: var(--text-color);
            font-size: 110px;
            font-weight: 700;
            letter-spacing: normal;
        }
    }
    .hero-section-text{
        width: 150px;

        p{
            color: var(--secondary-text-color);
        }
    }
    .hero-section-span{
        width: 10%;
        span{
            display: block;
            width: 100%;
            // border-bottom: 1px solid #000;
            background-color: var(--text-color);
        }
    }
}

.cards-section{
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
}
.landing-page-section-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    p{
        color: var(--text-color);
    }
}

.second-cards-section{
    margin-top: 100px;
}

.our-clients-section {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:

        ". . one two . ."
        ". . three four . .";
}

.landing-page-div1 {
    grid-area: one;
    border: 1px solid #1c2735;
    cursor: pointer;
}

.landing-page-div2 {
    grid-area: two;
    border: 1px solid #1c2735;
    cursor: pointer;
}

.landing-page-div3 {
    grid-area: three;
    border: 1px solid #1c2735;
    cursor: pointer;
}

.landing-page-div4 {
    grid-area: four;
    border: 1px solid #1c2735;
    cursor: pointer;
}