*{
  font-family: 'Chakra Petch', sans-serif;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: hsla(281, 100%, 31%, 1);
  
    background: linear-gradient(135deg,
        hsla(281, 100%, 31%, 1) 0%,
        hsla(280, 44%, 48%, 1) 50%,
        hsla(282, 100%, 11%, 1) 100%);
  
    background: -moz-linear-gradient(135deg,
        hsla(281, 100%, 31%, 1) 0%,
        hsla(280, 44%, 48%, 1) 50%,
        hsla(282, 100%, 11%, 1) 100%);
  
    background: -webkit-linear-gradient(135deg,
        hsla(281, 100%, 31%, 1) 0%,
        hsla(280, 44%, 48%, 1) 50%,
        hsla(282, 100%, 11%, 1) 100%);
  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6B009C", endColorstr="#8D44B1", GradientType=1);
}
a{
  text-decoration: none;
  background-color: inherit;
}
:root {
  --primary-color: #6b009c;
  --secondary-color: #260036;
  --yellow-color:#f69b11;
  --text-color: #fffef9;
  --secondary-text-color: #E5E4E2;
}